/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
/* Left half */
&kp Q    &kp W    &kp E    &kp R    &kp T    &kp Y
&kp A    &kp S    &kp D    &kp F    &kp G    &kp H
&kp Z    &kp X    &kp C    &kp V    &kp B    &kp N
&kp LCTRL &kp LALT &kp LGUI    &kp SPACE &mo 1 &kp BSPC
            >;
        };

        lower_layer {
            bindings = <
/* Left half */
&kp 1    &kp 2    &kp 3    &kp 4    &kp 5    &kp 6
&kp EXCL &kp AT   &kp HASH &kp DLLR &kp PRCNT &kp CARET
&kp LPAR &kp RPAR &kp LBKT &kp RBKT &kp LCURL &kp RCURL
&none    &none    &none    &kp ENTER &none &none
            >;
        };
    };
};
